/* Full Page Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Main container */
.container {
    width: 80%;
    max-width: 900px;
    background: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Headings */
h1 {
    text-align: center;
    color: #2a2a7a;
    margin-bottom: 10px;
}

h2 {
    color: #444;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-top: 30px;
}

h3 {
    color: #555;
    margin-top: 20px;
}

/* Paragraphs */
p {
    font-size: 18px;
    line-height: 1.6;
}

/* Lists */
ul {
    font-size: 18px;
    line-height: 1.6;
}

/* Profile Photo */
img.resume-photo {
    width: 150px;
    height: 150px;
    border-radius: 50;
    object-fit:cover
    
}
img.biodata-photo {
    width: 150px;
    height: 150px;
    border-radius: 50;
    object-fit:cover
}

.contact p {
    font-size: 18px;
    margin: 5px 0;
}

/* Links */
a {
    color: #2a2a7a;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}



