body {
    font-family: Arial;
    background: #f0f0f0;
    margin: 0;
}

header {
    background: #0077cc;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    background: pink;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

table {
    width: 60%;
    border-collapse: collapse;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

footer {
    background: #0077cc;
    color: white;
    text-align: center;
    padding: 10px;

}
